.containerPlaylistView {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 20rem;
    background-color: #1B1B1B;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    padding: 8rem;
    display: flex;
    align-items: center;
  }
  
  .body {
    position: absolute;
    top: 5rem;
    right: 8rem;
    z-index: 20;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 0.7;
    border-radius: 200px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 1rem;
    transition: opacity 0.2s ease-in-out;
  }
  
  .body:hover {
    opacity: 0.8;
  }
  