.containerPlaylistView {
    flex: grow;
    height: 100vh;
}

.header {
    color: white;
    position: sticky;
    top: 0px;
    height: 20rem;
    z-index: 50;
    font-size: 4rem;
    background: #1B1B1B;
    padding: 8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.body {
    position: absolute;
    z-index: 20;
    top: 5rem;
    right: 8rem;
    display: flex;
    align-items: center;
    background: black;
    color: white;
    opacity: 70%;
}

.body:hover {
    opacity: 80%;
}